<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a exercise</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/createexercise.css') }}">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- selectize js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

    <h1>Create a Exercise!</h1>

    <script>
        $(document).ready(function () {
      $('select').selectize({
          sortField: 'text'
      });
  });
    </script>

   <select id="selectExercise" placeholder="Select an exercise...">
    <option value="">Select an exercise...</option>
    <option value="BS">Barbell Squat</option>
    <option value="BBP">Barbell Bench Press</option>
    <option value="BIBP">Barbell Incline Bench Press</option>
    <option value="BR">Barbell Rows</option>
    <option value="PU">Pull-Ups</option>
    <option value="CD">Chest Dips</option>
    <option value="BD">Barbell Deadlift</option>
    <option value="BOP">Barbell Overhead Press</option>
  </select>

<script>
    function redirect(goto) {
  if (goto != '') {
    window.location = goto;
  }
}
    var select = document.getElementById('selectExercise');
    select.onchange = function() {
        var goto = this.value;
        redirect(goto);
    }
</script>
</body>
</html>