<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a exercise</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/createexercise.css') }}">
    <h1>Create a Exercise!</h1>

    <input id="searchbar" onkeyup="search_animal()" type="text"
        name="search" placeholder="Search animals..">

    <ol id='list'>
        <li class="exercises">Barbell Bench Press</li>
        <li class="exercises">Overhead Press (Barbell)</li>
        <li class="exercises">Barbell Incline Bench Press</li>
        <li class="exercises">Barbell Rows</li>
        <li class="exercises">Pull-Ups</li>
        <li class="exercises">Chest Dips</li>
        <li class="exercises">Barbell Squat</li>
        <li class="exercises">Deadlift (Barbell)</li>
    </ol>
</body>
</html>