<!DOCTYPE html>
<html lang="en">
<!--
This is the home page. We assume the user is logged in at this point (although we aren't going to be doing anything to log the user in).
They are able to create individual workouts, organize them,
-->
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <!-- Existing workouts can exist here with a folder structure (user can navigate -->

    <!-- button to create a workout here -->
     <button type="button">
         <a href="{{ url_for('createworkout') }}">Create a Workout</a>
     </button>
</body>
</html>