<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <!-- Form to login a user -->
     <form method="post" action="{{ url_for('login')}}">
         <label for="email">Email/Username:</label><br>
        <input type="email" id="email" name="email"><br><br>
         <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
         <input type="submit" value="Submit">
         <!--
        <input type="submit" onClick = "submit_data()"  value="Submit">
        -->
     </form>
    {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    {% endif %}
    <h1>Your workouts: </h1>

    <a href="{{ url_for('createworkout') }}">Create a Workout</a>
</body>
</html>