<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
         <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <style>
            form {
                padding: 20px;
            }

            input {
                width: 100%;
                margin-bottom: 5px;
            }
        </style>
         <script>
             $(document).on('click', '.add_field', function() {
                var keepGoing = true ;
  var target_div;
  var i = 1;
  console.log("before while loop");
  while(keepGoing == true){
      target_div = $("#set"+i)[0]
      if(target_div == undefined){
        keepGoing = false;
        break;
      }
      i = i + 1;
  }
console.log("after while loop");
console.log(i)
console.log('set'+'${i}');
var div_id = 'set'+i.toString()
var weight = 'set'+i.toString()+'weight';
var reps = 'set'+i.toString()+'reps';
  html = `<div class='set' id='${div_id}'>
                <h1> Set '${i}' </h1> <br>
                Weight: <input type='text' name='${weight}'>
                Reps: <input type="text" name='${reps}'> </div>`

console.log(html);

  $("#set"+(i-1).toString()).after(html)
  console.log("after jquery");
            })
         </script>
        <h1>You selected {{ exercise }} exercise. </h1>

        <form>
            <div class="set" id="set1">
                Set 1:
                Weight: <input type="text" name="set1weight">
                Reps: <input type="text" name="set1reps">
            </div>
        </form>

        <button type="button" class="add_field">Add Another Set</button>

         <!-- this button is going to take the data that the user enters in teh table, and then adds it to the createexercise.html
         so it shows up over there.
         And the user can create another exercise
         -->
        <button type="button">
            <a href="">Done</a>
        </button>
</body>
</html>