<!DOCTYPE html>
<html lang="en">
<!--
This is the home page. We assume the user is logged in at this point (although we aren't going to be doing anything to log the user in).
They are able to create individual workouts, organize them,
-->
<head>
    <meta charset="UTF-8">
    <title>Home</title>

</head>
<body>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/Home.css') }}">
    <script type="text/javascript" src="{{url_for('static', filename='Home.js')}}"></script>
    <!-- Existing workouts can exist here with a folder structure (user can navigate -->
    <h1>Welcome user: {{ event["fname"] }} </h1>
    <div class="app" id="app">

    </div>
    <!-- button to create a workout here -->
     <button type="button">
         <a href="{{ url_for('createworkout') }}">Create a Workout</a>
     </button>

    <h1> Your workouts: </h1>
    <div id="workouts">

    </div>
    <script>
        const app = document.getElementById("app");

        const wt = new WorkoutTracker(app);

        window.wt = wt;
    </script>
</body>
</html>