<%- include("./partials/header") %>
    <h1>Welcome to the fitness app! </h1> 

    <div>
        <!-- Insert rows for wokrouts here -->
    </div>
    <!--- Button to create a workout -->
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="">Block level button</button>
</body>
</html>